body {
  margin: 0;
  padding: 0;
}
header {
  display: block;
  position: fixed;
  top: 0px;
  height: 90px;
  width: 100vw;
  background: rgb(240, 208, 246);
  opacity: 0.75;
  border: 3px solid rgba(237, 5, 140, 0.5);
}

.button {
  position: relative;
  border: 3px solid rgba(237, 5, 140, 0.5);
  overflow: hidden;
  text-align: center;
  font-family: sans-serif;
  cursor: pointer;
  font-size: 16px;
  padding: 12px 16px;
  color: #000000;
  background: transparent;
  margin: 12px;
  text-decoration: none;
}

div {
  margin: 24px;
  text-align: center;
}
body.dark header {
  display: block;
  position: fixed;
  top: 0px;
  height: 90px;
  width: 100vw;
  background: rgb(191, 169, 195);
  opacity: 0.75;
  border: 3px solid rgba(156, 2, 92, 0.5);
}
.dark {
  position: relative;
  border: 3px solid rgba(91, 83, 240, 0.5);
  overflow: hidden;
  text-align: center;
  font-family: sans-serif;
  cursor: pointer;
  font-size: 16px;
  padding: 12px 16px;
  color: #000000;
  background: transparent;
  margin: 12px;
  text-decoration: none;
}


